<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.MailKit"/>
    <add assembly="Microsoft.EntityFrameworkCore.SqlServer"/>
  </extensions>


  <targets> 
    <!--Запись в SQLServer
    <target xsi:type="Database" name="sqlserver"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <connectionString>
            Server=(localdb)\MSSQLLocalDB;Name=logger;Trusted_Connection=True;
      </connectionString>
      <commandText>
        insert into "authors".logging(log_date,log_level,log_logger,log_message, stacktrace) values(@time_stamp, @level, @logger, @message, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>
   -->

	<!--Запись в файл-->  
    <target xsi:type="File" 
			name="allfile"
            fileName="${logDirectory}/nlog-all-${shortdate}.log" 
	        deleteOldFileOnStartup="true" 
	        concurrentWrites="true" />

    <!--Запись в порт-->  
    <target xsi:type="NLogViewer" 
			name="TcpOutlet" 
	        address="tcp://localhost:4505" />

  </targets>
	

  <rules>

    <!--Отправка сообщения на почту, если уровень ошибки >=	 Warn 
    <logger name="*" minlevel="Warn" writeTo="mail" />  -->

<!--Запись в файл-->  
    <logger name="*" minlevel="Trace" writeTo="allfile" />
	  
	  
    <!--Запись в бд - sqlServer
    <logger name="*" minlevel="Trace" writeTo="sqlserver"/>-->

	  <!--В Порт-->  
    <logger name="*" minlevel="Trace" writeTo="TcpOutlet"/>
    
  </rules>

</nlog>